<!DOCTYPE html>
<html>
<head>
    <meta name="Description" content="Get the right .NET Framework download for you, as fast as possible by downloading as little as possible." />
    <meta name="Keywords" content=".NET Framework Gast" />
    <meta charset="utf-8" />
    <meta name="Distribution" content="Global" />
    <meta name="t_omni_extblogid" content="msstoextblogs1" />
    <meta name="t_omni_blogname" content="Scott Hanselman" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css" type="text/css" />
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css" />
    <!--[if IE 7]><link rel="stylesheet" href="/css/font-awesome-ie7.css"><![endif]-->
    <link href="css/m-buttons.min.css" rel="stylesheet" media="screen" />
    <link rel="Stylesheet" href="css/main.css" type="text/css" />
    <title>Get the .NET Framework Fast - Download the smallest .NET Framework Distribution possible</title>

</head>

<body>
    @Html.Partial("Header")
    @RenderBody()
    @Html.Partial("Footer")
</body>
</html>
