@model SmallestDotNet.Models.DeveloperResult
<div class="span8">
    <h2><i class="icon-download-alt"></i> Offline Download</h2>
    @Html.Raw(Model.DeveloperOfflineResult)
    <h2><i class="icon-download-alt"></i> Online Download</h2>
    @Html.Raw(Model.DeveloperOnlineResult)
</div>
