<div class="span12">
    <h2>What about .NET 4.5?</h2>
     Download this application 
    <a href="https://github.com/downloads/shanselman/SmallestDotNet/CheckForDotNet45.exe" class="m-btn blue">
        <i class="icon-download-alt"></i> .NET Checker</a> 
    and run it. This harmless code signed application will tell us if you have .NET 4.5. Don't trust us? Here's 
    <a href="https://github.com/shanselman/SmallestDotNet/blob/master/CheckForDotNet45/Program.cs">the code</a>.
</div>
