<div class="span4">
    <h2><i class="icon-question-sign"></i> What happened</h2>
    This site looked at your browser's "UserAgent" and figured out what version (if any) of the .NET Framework you have (or don't have) installed, then calculated the total size if you chose to download the .NET Framework.
                <br />
    <br />
    There's no database, no cookies, and nothing about your computer has been stored or kept. We just look at the information your browser already reports about your computer and make a suggestion as to the best .NET Framework download for you.
                <br />
    <br />
</div>
